<li>
	{{burger_name}}

	<button class="change" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}Eat It!{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">DELETE!</button>
</li>
